button {
  @extend %pointer;
  transition: all .35s ease;
}

#home article {
  #contactHomeBtn {
    background-color: white;
    border: 2px solid $secondaryColor;
    color: $secondaryColor;

  }

  #contactHomeBtn:hover {
    box-shadow: 20px 5px 0 $secondaryColor;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $secondaryColor,
    0 0 70px $secondaryColor, 0 0 80px $secondaryColor, 0 0 100px $secondaryColor, 0 0 150px $secondaryColor;
  }

  #discoverBtn {
    background-color: $secondaryColor;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
  }

  #discoverBtn:hover {
    padding: 1.2vw;
  }
}

#contact {
  button {
    background-color: white;
    color: $secondaryColor;
    border: 1px solid $secondaryColor;
    padding: 2vh 1vw;
    letter-spacing: 1px;
    transition: all .35s;
    text-align: center;
    position: relative;

    span {
      position: relative;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: $secondaryColor;
      transition: all .35s;
    }
  }

  button:hover {
    color: white;
  }

  button:hover::after {
    width: 100%;
  }
}

.navbarForComputers button {
  background-color: $primaryColor;
  letter-spacing: 1px;
  border: none;
  width: 8vw;
  height: 5vh;

  &:hover {
    width: 9vw;
    height: 6vh;
  }
}

.navbarForMobile #navbarMenu a{
  letter-spacing: 2px;
}

.navbarForMobile #navbarMenu button{
  background-color: $primaryColor;
  letter-spacing: 1px;
  border: none;
  width: 20vw;
  height: 5vh;
  color: white;
  text-decoration: underline 1px solid $secondaryColor;

  &:hover {
    width: 9vw;
    height: 6vh;
  }
}

@media(max-width: $md-screen){
  .navbarForComputers{
    button{
      width: 11vw;
      height: 5vh;
    }
  }
}

@media(max-width: $sm-screen){
  .navbarForComputers{
    button{
      width: 13vw;
      height: 4vh;
    }
  }
}

