button {
  @extend %pointer;
  transition: all .35s ease;
}

#home article {
  #contactHomeBtn {
    background-color: white;
    border: 2px solid $primaryColor;
    color: $primaryColor;

  }

  #contactHomeBtn:hover {
    box-shadow: 20px 5px 0 $primaryColor;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px $primaryColor,
    0 0 70px $primaryColor, 0 0 80px $primaryColor, 0 0 100px $primaryColor, 0 0 150px $primaryColor;
  }

  #discoverBtn{
    background-color: $primaryColor;
    color: white;
    border: none;
  }
  #discoverBtn:hover{
    padding: 1.2vw;
  }
}


