#home{
  a{
    color: $secondaryColor;
    text-decoration: underline $secondaryColor;

  }

  a:before{
    background-image: url("../images/githubIcon.svg");
    @include ImageDisplayOnBeforeAndAfterCssProp(5vw,5vh)
  }
}

@media (max-width: $md-screen) {
  #home {
    a:before {
      @include ImageDisplayOnBeforeAndAfterCssProp(6vw, 6vh);
    }
  }
}