/*10% of font size * 10% of the screen lenght*/
/*Important color*/
/*Responsive*/
/*adjust the font size:  10% of $size * 10% of screen lenght*/
h4 {
  text-decoration: underline 2px solid;
}

select {
  width: fit-content;
  border: none;
  border-bottom: #2AD587 2px solid;
  height: 5vh;
}

#contact article, #techs article, #aboutMe div, #projectSection #projectBox, #home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, select {
  cursor: pointer;
}

body {
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 7vw;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-family: "aboreto", sans-serif;
}

.titleMarker {
  color: #72E3AF;
  font-weight: 100;
}

h3 {
  font-size: 2.1vw;
  color: #2AD587;
}

h4 {
  font-size: 1.4vw;
  font-weight: 100;
  font-style: italic;
}

h6 {
  font-size: 1.5vw;
}

a {
  font-size: 1.2vw;
}

select {
  font-size: 1.5vw;
}

input {
  font-size: 1.3vw;
}

textarea {
  font-size: 1vw;
}

p {
  font-size: 1vw;
}
p i {
  color: #72E3AF;
}

.error {
  color: red;
}

#aboutMe p {
  font-size: 1.9vw;
}
#aboutMe p a {
  color: white;
}

button {
  font-size: 1.5vw;
}

@media (max-width: 992px) {
  h1 {
    font-size: 6.8vw;
  }
  h3 {
    font-size: 2.7vw;
  }
  h4 {
    font-size: 1.7vw;
  }
  h6 {
    font-size: 1.7vw;
  }
  select {
    font-size: 2.1vw;
  }
  input {
    font-size: 1.6vw;
  }
  textarea {
    font-size: 1.3vw;
  }
  button {
    font-size: 1.7vw;
  }
  p {
    font-size: 1.2vw;
  }
  #aboutMe p {
    font-size: 2.2vw;
  }
  a {
    font-size: 1.6vw;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 7.5vw;
  }
  h3 {
    font-size: 3vw;
  }
  h4 {
    font-size: 3vw;
  }
  select {
    font-size: 2vw;
  }
  input {
    font-size: 1.9vw;
  }
  textarea {
    font-size: 1.6vw;
  }
  article button {
    font-size: 3.5vw;
  }
  p {
    font-size: 1.5vw;
  }
  #aboutMe p {
    font-size: 2.4vw;
  }
  a {
    font-size: 2vw;
  }
}
.hookError {
  display: none;
}

@media (max-width: 560px) {
  select {
    font-size: 2.5vw;
  }
  input {
    font-size: 2.3vw;
  }
  textarea {
    font-size: 1.9vw;
  }
  h1 {
    font-size: 9vw;
  }
  h3 {
    font-size: 3.5vw;
  }
  h4 {
    font-size: 3vw;
  }
  article button {
    font-size: 4vw;
  }
  p {
    font-size: 2.3vw;
  }
  #aboutMe p {
    font-size: 3vw;
  }
  a {
    font-size: 2.4vw;
  }
  h6 {
    font-size: 2.2vw;
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
} /*declare screen zone*/
body {
  margin: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
} /*remove default margin*/
main {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
} /*remove default border on fieldset*/
h1, h2, h3, h4, h5, h6, figure {
  margin: 0;
}

header {
  text-align: center;
}

hr {
  width: 10vw;
  height: 2px;
  background-color: #72E3AF;
  margin-bottom: 2vh;
}

button {
  transition: all 0.35s ease;
}

#home article #contactHomeBtn {
  background-color: white;
  border: 2px solid #2AD587;
  color: #2AD587;
}
#home article #contactHomeBtn:hover {
  box-shadow: 20px 5px 0 #2AD587;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2AD587, 0 0 70px #2AD587, 0 0 80px #2AD587, 0 0 100px #2AD587, 0 0 150px #2AD587;
}
#home article #discoverBtn {
  background-color: #2AD587;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
#home article #discoverBtn:hover {
  padding: 1.2vw;
}

#home header {
  border: 2px solid #72E3AF;
  transform: skew(-15deg);
}

#home a {
  color: #2AD587;
  text-decoration: underline #2AD587;
}
#home a:before {
  background-image: url("../images/githubIcon.svg");
  background-size: 5vw 5vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 5vw;
  height: 5vh;
  display: block;
  content: "";
}

@media (max-width: 992px) {
  #home a:before {
    background-size: 6vw 6vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 6vw;
    height: 6vh;
    display: block;
    content: "";
  }
}
#projectSection .projects {
  margin: 5vw 8vw;
  width: 30vw;
  height: fit-content;
  border: #2AD587 1px solid;
  border-radius: 10px;
}
#projectSection .projects img {
  width: 30vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#projectSection .projects button {
  background-color: white;
  border: 1px solid #2AD587;
  color: #2AD587;
  border-radius: 5px;
}
#projectSection .projects button:hover {
  color: white;
  background-color: #2AD587;
}
#projectSection .projects .projectDetails {
  transition: all 0.35s ease 0.35s;
}

@media (max-width: 560px) {
  #projectSection .projects {
    width: 55vw;
  }
  #projectSection .projects img {
    width: 55vw;
  }
}
#contact form input {
  margin: 5vh 3vw;
  border: none;
  border-bottom: 2px solid #72E3AF;
  width: 20vw;
}
#contact form textarea {
  width: 23vw;
  height: 15vh;
  margin-left: 2vw;
  border: 2px solid #72E3AF;
  border-radius: 10px;
}

@media (max-width: 560px) {
  #contact form input {
    width: 40vw;
    margin: 3vh 0;
  }
  #contact form textarea {
    width: 45vw;
  }
}
#home {
  width: 100vw;
}
#home article:first-child {
  padding-top: 20vh;
  padding-left: 5vw;
  width: 60vw;
  flex-basis: 60vw;
}
#home article:first-child header {
  margin-left: 4vw;
  margin-bottom: 15vh;
}
#home article:first-child h4 {
  margin-left: 10vw;
}
#home article:first-child form {
  margin-top: 12vh;
  margin-left: 10vw;
}
#home article:first-child form button {
  margin: 0 2.5vw;
  padding: 1vw;
}
#home article:first-child a {
  margin-top: 12vh;
  display: inline-block;
}
#home article:last-child {
  flex-basis: 50vw;
}
#home figure {
  height: 100vh;
  background-image: url("../images/DevIconHomePage.jpg");
  background-size: 35vw;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  #home article:first-child {
    flex-basis: 70vw;
    padding-left: 1vw;
  }
  #home article:first-child form {
    width: 70vw;
    display: flex;
    flex-direction: column;
  }
  #home article:first-child form button {
    width: fit-content;
    margin: 0;
  }
  #home article:first-child form button:last-child {
    margin-top: 3vh;
  }
  figure {
    background-size: 50vw;
  }
}
@media (max-width: 560px) {
  #home {
    overflow: hidden;
  }
  #home h4 {
    margin-top: 32vh;
    margin-left: 7vw;
    color: #ffffff;
    background-color: #72E3AF;
    text-align: center;
    text-decoration: none;
  }
  #home article:first-child {
    padding-top: 5vh;
    flex-basis: 100vw;
  }
  #home article:first-child form {
    margin-left: 15vw;
    width: 100vw;
  }
  #home figure {
    background-size: 65vw;
    position: absolute;
    left: 30%;
    bottom: 22%;
    width: 65vw;
    z-index: -1;
  }
  #home article:first-child form {
    margin-top: 3vh;
  }
  #home article:first-child a {
    margin-top: 1vh;
  }
}
#projectSection {
  margin-bottom: 2vh;
}
#projectSection header {
  text-align: center;
  margin-top: 3vh;
}
#projectSection #projectBox {
  flex-wrap: wrap;
  width: 100vw;
}
#projectSection #projectBox h4 {
  text-align: center;
  margin-bottom: 5vh;
}
#projectSection #projectBox button {
  margin-bottom: 2vh;
  margin-left: 1vw;
}

@media (max-width: 560px) {
  #projectSection #projectBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: unset;
  }
}
#aboutMe {
  margin-bottom: 3vh;
}
#aboutMe header {
  margin-bottom: 13vh;
}
#aboutMe div {
  flex-basis: 50vw;
}
#aboutMe #profilePic {
  background-image: url("../images/PP.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30vw;
  height: 55vh;
  border-radius: 10px;
}
#aboutMe article {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
#aboutMe article p {
  text-align: center;
  width: 40vw;
  color: white;
}
#aboutMe article:last-child {
  background: #2AD587;
  border-radius: 10px;
  margin-right: 0;
  padding-right: 5vw;
  padding-left: 1vw;
}

@media (max-width: 992px) {
  #aboutMe #profilePic {
    width: 30vw;
    height: 45vh;
  }
}
@media (max-width: 560px) {
  #aboutMe header {
    margin-bottom: 2vh;
  }
  #aboutMe div {
    flex-direction: column;
    align-items: center;
    flex-basis: unset;
  }
  #aboutMe div #profilePic {
    width: 40vw;
    height: 15vh;
  }
  #aboutMe div article {
    margin: 0;
  }
  #aboutMe div article p {
    width: 60vw;
  }
  #aboutMe div article:last-child {
    margin-top: 5vh;
  }
}
#techs aside select {
  margin-left: 20vw;
}
#techs article {
  margin-bottom: 5vh;
}
#techs article div {
  width: 27vw;
  align-items: center;
}
#techs article div img {
  margin-top: 7vh;
  margin-bottom: 3vh;
  width: 8vw;
}
#techs article div article:not(.last) {
  border-top: 2px solid #2AD587;
}
#techs article div article {
  display: flex;
  flex-direction: column;
  padding-right: 3vw;
}
#techs article div article span {
  font-weight: bold;
}
#techs article div article:before {
  content: "";
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background: white;
  position: relative;
  top: -2.3vh;
  border: 2px solid #72E3AF;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

@media (max-width: 560px) {
  #techs article {
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
  }
  #techs article .techsDetails {
    display: flex;
    flex-direction: row;
    width: 70vw;
    border-left: 2px solid #2AD587;
  }
  #techs article .techsDetails:before {
    content: "";
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #2AD587;
    position: relative;
    left: -1.3vw;
    top: -3vh;
  }
  #techs article .techsDetails img {
    width: 13vw;
  }
  #techs article .techsDetails article:not(.last) {
    border-top: none;
  }
  #techs article .techsDetails article {
    padding-right: 0;
    width: 40vw;
  }
  #techs article .techsDetails article:before {
    content: unset;
  }
}
#contact article {
  margin-bottom: 3vh;
}
#contact article div {
  background-image: url("../images/contactImage.jpg");
  background-size: cover;
  background-position: center;
  width: 30vw;
  height: 60vh;
}
#contact article form {
  flex-basis: 60vw;
  margin-top: 7vh;
}
#contact article form button {
  margin: 0 auto;
}

@media (max-width: 992px) {
  #contact article div {
    height: 40vh;
  }
}
@media (max-width: 768px) {
  #contact article div {
    height: 30vh;
  }
}
@media (max-width: 560px) {
  #contact article form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: unset;
    margin-top: 0;
  }
  #contact article div {
    display: none;
  }
}

/*# sourceMappingURL=output.css.map */
