/*10% of font size * 10% of the screen lenght*/
/*Important color*/
/*Responsive*/
/*adjust the font size:  10% of $size * 10% of screen lenght*/
h4 {
  text-decoration: underline 2px solid;
}

select {
  width: fit-content;
  border: none;
  border-bottom: #2AD587 2px solid;
  height: 5vh;
}

#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button, select {
  cursor: pointer;
}

body {
  font-family: "roboto", sans-serif;
}

h1 {
  font-size: 7vw;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-family: "aboreto", sans-serif;
}

.titleMarker {
  color: #72E3AF;
  font-weight: 100;
}

h4 {
  font-size: 1.4vw;
}

a {
  font-size: 1.2vw;
}

select, input {
  font-size: 1.1vw;
}

p {
  font-size: 0.8vw;
  color: red;
}

button {
  font-size: 1.5vw;
}

@media (max-width: 992px) {
  h1 {
    font-size: 6.8vw;
  }
  h4 {
    font-size: 1.7vw;
  }
  select, input {
    font-size: 2.1vw;
  }
  button {
    font-size: 1.7vw;
  }
  p {
    font-size: 1.2vw;
  }
  a {
    font-size: 1.6vw;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 7.5vw;
  }
  h4 {
    font-size: 3vw;
    font-weight: 100;
    font-style: italic;
  }
  select, input {
    font-size: 2vw;
  }
  article button {
    font-size: 3.5vw;
  }
  p {
    font-size: 1.5vw;
  }
  a {
    font-size: 2vw;
  }
}
.hookError {
  display: none;
}

@media (max-width: 560px) {
  select, input {
    font-size: 2.5vw;
  }
  h1 {
    font-size: 9vw;
  }
  h4 {
    font-size: 3vw;
    color: #ffffff;
    background-color: #72E3AF;
    text-align: center;
    text-decoration: none;
  }
  article button {
    font-size: 4vw;
  }
  p {
    font-size: 1.8vw;
  }
  a {
    font-size: 2.4vw;
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
} /*declare screen zone*/
body {
  margin: 0;
  width: 100vw;
} /*remove default margin*/
fieldset {
  border: none;
} /*remove default border on fieldset*/
h1, h2, h3, h4, h5, h6, figure {
  margin: 0;
}

hr {
  width: 10vw;
  height: 2px;
  background-color: #72E3AF;
  margin-bottom: 2vh;
}

button {
  transition: all 0.35s ease;
}

#home article #contactHomeBtn {
  background-color: white;
  border: 2px solid #2AD587;
  color: #2AD587;
}
#home article #contactHomeBtn:hover {
  box-shadow: 20px 5px 0 #2AD587;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #2AD587, 0 0 70px #2AD587, 0 0 80px #2AD587, 0 0 100px #2AD587, 0 0 150px #2AD587;
}
#home article #discoverBtn {
  background-color: #2AD587;
  color: white;
  border: none;
}
#home article #discoverBtn:hover {
  padding: 1.2vw;
}

#home header {
  border: 2px solid #72E3AF;
  transform: skew(-15deg);
}

#home a {
  color: #2AD587;
  text-decoration: underline #2AD587;
}
#home a:before {
  background-size: 5vw 5vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 5vw;
  height: 5vh;
  display: block;
  content: "";
}

@media (max-width: 992px) {
  #home a:before {
    background-size: 6vw 6vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 6vw;
    height: 6vh;
    display: block;
    content: "";
  }
}
.displayProjectDetails {
  display: flex;
}

#home {
  width: 100vw;
  height: 100vh;
}
#home article:first-child {
  padding-top: 20vh;
  padding-left: 5vw;
  width: 60vw;
  flex-basis: 60vw;
}
#home article:first-child header {
  margin-left: 4vw;
  margin-bottom: 15vh;
}
#home article:first-child h4 {
  margin-left: 10vw;
}
#home article:first-child form {
  margin-top: 12vh;
  margin-left: 10vw;
}
#home article:first-child form button {
  margin: 0 2.5vw;
  padding: 1vw;
}
#home article:first-child a {
  margin-top: 12vh;
  display: inline-block;
}
#home article:last-child {
  flex-basis: 50vw;
}
#home figure {
  height: 100vh;
  background-position: center;
}

@media (max-width: 768px) {
  #home article:first-child {
    flex-basis: 70vw;
    padding-left: 1vw;
  }
  #home article:first-child form {
    width: 70vw;
    display: flex;
    flex-direction: column;
  }
  #home article:first-child form button {
    width: fit-content;
    margin: 0;
  }
  #home article:first-child form button:last-child {
    margin-top: 3vh;
  }
  figure {
    background-size: 50vw;
  }
}
@media (max-width: 560px) {
  #home {
    overflow: hidden;
  }
  #home h4 {
    margin-top: 32vh;
    margin-left: 7vw;
  }
  #home article:first-child {
    padding-top: 12vh;
    flex-basis: 100vw;
  }
  #home article:first-child form {
    margin-left: 15vw;
    width: 100vw;
  }
  #home figure {
    background-size: 60vw;
    position: absolute;
    left: 30%;
    bottom: 15%;
    width: 60vw;
    z-index: -1;
  }
}
#projectSection {
  width: 90vw;
  height: 100vh;
}

body {
  transition: 0.5s all;
}

/*# sourceMappingURL=output.css.map */
