$font-roboto: 'roboto', sans-serif;
$font-aboreto: 'aboreto', sans-serif;
$font-size: (0.01 * 10vw); /*10% of font size * 10% of the screen lenght*/

/*Important color*/
$primaryColor: #72E3AF;
$secondaryColor: #2AD587;


/*Responsive*/
$xs-screen: 560px;
$sm-screen: 768px;
$md-screen: 992px;

