html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
} /*declare screen zone*/

body {
  margin: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;

} /*remove default margin*/

main{
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}/*remove default border on fieldset*/

h1, h2, h3, h4, h5, h6, figure{
  margin: 0;
}

header{
  text-align: center;
}
