body {
  font-family: $font-roboto;
}

h1 {
  font-size: font-size-adjust(70);
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-family: $font-aboreto;
}

.titleMarker {
  color: $primaryColor;
  font-weight: 100;
}

h3 {
  font-size: font-size-adjust(21);
  color: $secondaryColor;
}

h4 {
  font-size: font-size-adjust(14);
  @extend %underline;
  font-weight: 100;
  font-style: italic;
}

.navbarForComputers{
  h4{
    color: $secondaryColor;
    font-size: font-size-adjust(20);
    text-decoration: none;
    font-style: normal;
  }
}
#navbarMenu{
  h4{
    font-size: font-size-adjust(90);
  }
  a{
    font-size: font-size-adjust(50);
  }
}

h5{
  font-size: font-size-adjust(25);
}

h6 {
  font-size: font-size-adjust(15);
}

a {
  font-size: font-size-adjust(12);
}
.navbarForComputers{
  a{
    font-size: font-size-adjust(16);
  }
}

select {
  font-size: font-size-adjust(15);
}

input {
  font-size: font-size-adjust(13);
}

textarea {
  font-size: font-size-adjust(10);
}

p {
  font-size: font-size-adjust(10);

  i {
    color: $secondaryColor;
  }
}
.error{
  color: red;
}
#aboutMe p {
  font-size: font-size-adjust(19);

  a {
    color: white;
  }
}

footer{
  p{
    font-size: font-size-adjust(13);
    color: white;
  }
}

button {
  font-size: font-size-adjust(15);
}
.navbarForComputers{
  button{
    font-size: font-size-adjust(16);
    color: white;
    text-decoration: underline $secondaryColor;
  }
}

@media(max-width: $md-screen) {
  h1 {
    font-size: font-size-adjust(68);
  }
  h3 {
    font-size: font-size-adjust(27);
  }
  h4 {
    font-size: font-size-adjust(17);
  }
  .navbarForComputers{
    a{
      font-size: font-size-adjust(19);
    }
    h4{
      font-size: font-size-adjust(24);
    }
  }
  h6 {
    font-size: font-size-adjust(17);
  }
  select {
    font-size: font-size-adjust(21);
  }
  input {
    font-size: font-size-adjust(16);
  }

  textarea {
    font-size: font-size-adjust(13);
  }

  button {
    font-size: font-size-adjust(17);
  }
  .navbarForComputers{
    button{
      font-size: font-size-adjust(18);
    }
  }
  p {
    font-size: font-size-adjust(12);
  }
  #aboutMe p {
    font-size: font-size-adjust(21);
  }
  footer{
    p{
      font-size: font-size-adjust(16);
    }
  }

  a {
    font-size: font-size-adjust(16);
  }
}

@media(max-width: $sm-screen) {
  h1 {
    font-size: font-size-adjust(75);
  }
  h3 {
    font-size: font-size-adjust(30);
  }
  h4 {
    font-size: font-size-adjust(30);
  }
  .navbarForComputers{
    a{
      font-size: font-size-adjust(23);
    }
    h4{
      font-size: font-size-adjust(33);
    }
  }

  select {
    font-size: font-size-adjust(20);
  }
  input {
    font-size: font-size-adjust(19);
  }

  textarea {
    font-size: font-size-adjust(16);
  }

  article button {
    font-size: font-size-adjust(35);
  }
  .navbarForComputers{
    button{
      font-size: font-size-adjust(21);
    }
  }
  p {
    font-size: font-size-adjust(15);
  }
  #aboutMe p {
    font-size: font-size-adjust(24);
  }
  footer{
    p{
      font-size: font-size-adjust(20);
    }
  }
  a {
    font-size: font-size-adjust(20);
  }
}

.hookError {
  display: none;
}

@media(max-width: $xs-screen) {
  select{
    font-size: font-size-adjust(25);
  }

  input {
    font-size: font-size-adjust(23);
  }

  textarea {
    font-size: font-size-adjust(19);
  }
  h1 {
    font-size: font-size-adjust(90);
  }
  h3 {
    font-size: font-size-adjust(35);
  }
  h4 {
    font-size: font-size-adjust(30);
  }

  article button {
    font-size: font-size-adjust(40);
  }
  p {
    font-size: font-size-adjust(23);
  }
  #aboutMe p {
    font-size: font-size-adjust(30);
  }
  footer{
    p{
      font-size: font-size-adjust(25);
    }
  }
  a {
    font-size: font-size-adjust(24);
  }

  h6 {
    font-size: font-size-adjust(22);
  }
}

