body {
  font-family: $font-roboto;
}

h1 {
  font-size: font-size-adjust(70);
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-family: $font-aboreto;
}
.titleMarker{
  color: $primaryColor;
  font-weight: 100;
}

h3{
  font-size: font-size-adjust(18);
  color: $secondaryColor;
}

h4{
  font-size: font-size-adjust(14);
  @extend %underline;
}

a{
  font-size: font-size-adjust(12);
}

select, input {
  font-size: font-size-adjust(11);

}

p{
  font-size: font-size-adjust(10);
  i{
    color: $primaryColor;
  }
}

button{
  font-size: font-size-adjust(15);
}
@media(max-width: $md-screen){
  h1{
    font-size: font-size-adjust(68);
  }
  h4{
    font-size: font-size-adjust(17);
  }

  select, input{
    font-size: font-size-adjust(21);
  }

  button{
    font-size: font-size-adjust(17);
  }
  p{
    font-size: font-size-adjust(12);
  }

  a{
    font-size: font-size-adjust(16);
  }
}

@media(max-width: $sm-screen){
  h1{
    font-size: font-size-adjust(75);
  }

  h4{
    font-size: font-size-adjust(30);
    font-weight: 100;
    font-style: italic;
  }

  select, input{
    font-size: font-size-adjust(20);
  }

  article button{
    font-size: font-size-adjust(35);
  }
  p{
    font-size: font-size-adjust(15);
  }
  a{
    font-size: font-size-adjust(20);
  }
}
.hookError{
  display: none;
}

@media(max-width: $xs-screen) {
  select, input{
    font-size: font-size-adjust(25);
  }
  h1{
    font-size: font-size-adjust(90);
  }
  h4{
    font-size: font-size-adjust(30);
  }
  article button{
    font-size: font-size-adjust(40);
  }
  p{
    font-size: font-size-adjust(18);
  }
  a{
    font-size: font-size-adjust(24);
  }
}

