body {
  font-family: $font-roboto;
}

h1 {
  font-size: font-size-adjust(70);
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px #000;
  font-family: $font-aboreto;
}

.titleMarker {
  color: $primaryColor;
  font-weight: 100;
}

h3 {
  font-size: font-size-adjust(21);
  color: $secondaryColor;
}

h4 {
  font-size: font-size-adjust(14);
  @extend %underline;
  font-weight: 100;
  font-style: italic;
}

h6 {
  font-size: font-size-adjust(15);
}

a {
  font-size: font-size-adjust(12);
}

select {
  font-size: font-size-adjust(15);
}

input {
  font-size: font-size-adjust(13);
}

textarea {
  font-size: font-size-adjust(10);
}

p {
  font-size: font-size-adjust(10);

  i {
    color: $primaryColor;
  }
}

#aboutMe p {
  font-size: font-size-adjust(19);

  a {
    color: white;
  }
}

button {
  font-size: font-size-adjust(15);
}

@media(max-width: $md-screen) {
  h1 {
    font-size: font-size-adjust(68);
  }
  h3 {
    font-size: font-size-adjust(27);
  }
  h4 {
    font-size: font-size-adjust(17);
  }

  h6 {
    font-size: font-size-adjust(17);
  }
  select {
    font-size: font-size-adjust(21);
  }
  input {
    font-size: font-size-adjust(16);
  }

  textarea {
    font-size: font-size-adjust(13);
  }

  button {
    font-size: font-size-adjust(17);
  }
  p {
    font-size: font-size-adjust(12);
  }
  #aboutMe p {
    font-size: font-size-adjust(22);
  }

  a {
    font-size: font-size-adjust(16);
  }
}

@media(max-width: $sm-screen) {
  h1 {
    font-size: font-size-adjust(75);
  }
  h3 {
    font-size: font-size-adjust(30);
  }
  h4 {
    font-size: font-size-adjust(30);
  }

  select {
    font-size: font-size-adjust(20);
  }
  input {
    font-size: font-size-adjust(19);
  }

  textarea {
    font-size: font-size-adjust(16);
  }

  article button {
    font-size: font-size-adjust(35);
  }
  p {
    font-size: font-size-adjust(15);
  }
  #aboutMe p {
    font-size: font-size-adjust(24);
  }
  a {
    font-size: font-size-adjust(20);
  }
}

.hookError {
  display: none;
}

@media(max-width: $xs-screen) {
  select, input {
    font-size: font-size-adjust(25);
  }
  h1 {
    font-size: font-size-adjust(90);
  }
  h3 {
    font-size: font-size-adjust(35);
  }
  h4 {
    font-size: font-size-adjust(30);
  }
  article button {
    font-size: font-size-adjust(40);
  }
  p {
    font-size: font-size-adjust(23);
  }
  #aboutMe p {
    font-size: font-size-adjust(30);
  }
  a {
    font-size: font-size-adjust(24);
  }

  h6 {
    font-size: font-size-adjust(22);
  }
}

