#aboutMe {
  margin-bottom: 3vh;
  header {
    margin-bottom: 13vh;
  }

  div {
    @extend %displayFlexRow;
    flex-basis: 50vw;
  }

  #profilePic {
    background-image: url("../images/PP.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30vw;
    height: 55vh;
    border-radius: 10px;
  }

  article {
    display: flex;
    margin: 0 auto;
    align-items: center;

    p {
      text-align: center;
      width: 40vw;
      color: white;

    }
  }

  article:last-child {
    background: $secondaryColor;
    border-radius: 10px;
    margin-right: 0;
    padding-right: 5vw;
    padding-left: 1vw;
  }
}

@media(max-width: $md-screen){
  #aboutMe {
    #profilePic {
      width: 30vw;
      height: 45vh;
    }
  }
}
@media (max-width: $xs-screen) {
  #aboutMe{
    header{
      margin-bottom: 2vh;
    }
    div{
      flex-direction: column;
      align-items: center;
      flex-basis: unset;

      #profilePic{
        width: 40vw;
        height: 15vh;
      }

      article{
        margin: 0;
        p{
          width: 60vw;
        }
      }
      article:last-child{
        margin-top: 5vh;
      }
    }
  }
}
