#contact{
  article{
    @extend %displayFlexRow;

    div{
      background-image: url("../images/contactImage.jpg");
      background-size: cover;
      background-position: center;
      width: 30vw;
      height: 60vh;
    }

    form{
      flex-basis: 60vw;
      margin-top: 7vh;
    }
  }
}

@media(max-width: $xs-screen){
  #contact{
    article{
      form{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: unset;
        margin-left: 3vw;
      }
      div{
        display: none;
      }
    }
  }
}
