#home {
  width: 100vw;
  @extend %displayFlexRow;


  article:first-child {
    padding-top: 20vh;
    padding-left: 5vw;
    width: 60vw;
    flex-basis: 60vw;

    header {
      margin-left: 4vw;
      margin-bottom: 15vh;
    }

    h4 {
      margin-left: 10vw;
    }

    form {
      margin-top: 12vh;
      margin-left: 10vw;

      button {
        margin: 0 2.5vw;
        padding: 1vw;
      }
    }

    a {
      margin-top: 12vh;
      display: inline-block;
    }

  }

  article:last-child {
    flex-basis: 50vw;
  }

  figure {
    height: 100vh;
    @include bgImage("../images/DevIconHomePage.jpg", 35vw);
    background-position: center;
  }

}

@media(max-width: $sm-screen) {
  #home {
    article:first-child {
      flex-basis: 70vw;
      padding-left: 1vw;

      form {
        width: 70vw;
        display: flex;
        flex-direction: column;

        button {
          width: fit-content;
          margin: 0;
        }

        button:last-child {
          margin-top: 3vh;
        }
      }

    }
  }

  figure {
    background-size: 50vw;
  }

}

@media(max-width: $xs-screen) {
  #home {
    overflow: hidden;

    h4 {
      margin-top: 32vh;
      margin-left: 7vw;
      color: #ffffff;
      background-color: $primaryColor;
      text-align: center;
      text-decoration: none;
    }

    article:first-child {
      padding-top: 5vh;
      flex-basis: 100vw;

      form {
        margin-left: 15vw;
        width: 100vw;
      }
    }

    figure {
      background-size: 65vw;
      position: absolute;
      left: 30%;
      bottom: 22%;
      width: 65vw;
      z-index: -1;
    }

    article:first-child{
      form{
        margin-top: 3vh;
      }
      a{
        margin-top: 1vh;
      }
    }


  }
}
