#projectSection {

  #loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;

    lottie-player{
      width: 25vw;
      height: 25vw;
    }
  }

  @extend %displayFlexColumn;
  margin-bottom: 2vh;

  header {
    text-align: center;
    margin-top: 3vh;
  }

  #projectBox {
    @extend %displayFlexRow;
    flex-wrap: wrap;
    width: 100vw;

    h4 {
      text-align: center;
      margin-bottom: 5vh;
    }

    button {
      margin-bottom: 2vh;
      margin-left: 1vw;
    }
  }

}

@media(max-width: $xs-screen) {
  #projectSection {
    #projectBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: unset;

    }
  }
}
